.cart-icon {
  display: flex;
  position: relative;
  
  &__image {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: -1rem;
    margin-top: -.5rem;
  }

  &__item-count {
    position: absolute;
    top: 29%;
    left: 34%;
    transform: translate(-50%);
    font-size: 1.5rem;
  }
}

@media (max-width: 410px) {
  .cart-icon {
    &__image {
      width: 3rem;
      height: 3rem;
    }

    &__item-count {
      font-size: 1.3rem;
      top: 26%;
      left: 30%;
    }
  }
}