.categories {
  // display: flex;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  // border: 2px solid blue;
  // justify-content: center;
  // align-items: center;
  margin: 3rem auto;
}

@media (max-width: 1270px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .categories {
      margin-top: 1rem;
    }
}