.category-poster {
  // border: 1px solid $theme-grey-light;
  height: 50vh;
  margin: 1.5rem;
  border-radius: $default-border-radius;
  overflow: hidden;
  grid-column: span 2;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    // border: 2px solid black;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  &__body {
    padding: 3.25rem 5rem;
    // border: 1px solid $theme-grey-light;
    background-color: rgba($theme-white, 0.75);
    border-radius: $default-border-radius;
    text-align: center;

    p {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }

  &:hover {
    cursor: pointer;

    & .category-poster__body {
      background-color: rgba($theme-white, 0.93);
      transform: scale(0.9);
      transition: transform 1.5s cubic-bezier(.1, .87, .81, .42);
    }

    & .category-poster__image {
      transform: scale(1.1);
      transition: all 1.5s cubic-bezier(.1, .87, .81, .42);
    }
  }

  &--birthday, &--christmas {
    grid-column: span 3;
  }
}

@media (max-width: 1270px) {
  .category-poster {
    &--birthday,
    &--christmas, 
    &--thank, 
    &--wedding {
      grid-column: span 1;
    }
  }
}

@media (max-width: 700px) {
  .category-poster {
    grid-column: span 2;
  }
}

@media (max-width: 400px) {
  .category-poster {
    grid-column: span 2;

    &__body {
    padding: 2.75rem 4rem;
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.85rem;
      }
    }
  }
}