.checkout-item {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 0;
  border-bottom: 1px solid $theme-grey-light;

  &__left, &__right {
    display: flex;

    & div {
      display: flex;
      align-items: center;
    }
  }
  
  &__left {
    width: 52%;

    & div {
      width: 50%;

      &:last-of-type {
        padding-left: 1rem;
      }
    }
  }
  
  &__right {
    width: 47%;

    & div {
      width: 45%;
      padding-left: 1rem;

      &:last-of-type {
        width: 25%;
      }
    }
  }

  &__image {
    padding-left: 0;
    height: 16rem;
    width: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: $small-border-radius;
  }

  &__description {
    display: flex;
    align-items: center;
    padding-right: 3rem;
  }

  &__quantity,
  &__price {
    font-size: 1.75rem;
  }

  &__quantity-icon {
    font-size: 2rem;
    color: $theme-grey-light;

    &:hover {
      color: $theme-grey-dark;
      cursor: pointer;
    }
  }

  &__quantity-value {
    width: 3rem;
    text-align: center;
  }

  &__remove {
    font-size: 3.5rem;
    font-weight: 200;

    span:hover {
      cursor: pointer;
      color: $error-red;
    }
  }
}

@media (max-width: 645px) {
  .checkout-item__right div { padding: 0 }
}

@media (max-width: 600px) {
  .checkout-item {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba($theme-grey-light, .7);

    &__left, &__right {
      width: 90%;
      margin-top: 1rem;
    }

    &__right div {    
      width: 35%;
      display: flex;
      justify-content: center;

      &:first-of-type {
        width: 50%;
      }
    }
  }
}