@mixin loading-spinner($diameter) {
  width: $diameter;
  height: $diameter;
  border: 3px solid rgba($theme-grey-light, .4);
  border-radius: 50%;
  border-top-color: rgba($theme-grey-dark, .8);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}