// FONTS
$default-font-size: 1.6rem;

// BORDER RADIUS
$default-border-radius: 2px; 
$small-border-radius: 1px; 

// COLOURS
$theme-white: #fff;
$theme-black: #000;
// $theme-blue: #199eca;
// $theme-blue: #1d7c9c;
$theme-blue-grey: #195e75;
$theme-grey-light: #929292;
$theme-grey-dark: #505050;
$error-red: red;